# Airbnb U.S Market Analysis

In [2]:
#basic imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#scickit-toolkits
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler, OneHotEncoder
from sklearn.model_selection import GridSearchCV, cross_val_predict, cross_validate, train_test_split
from sklearn.linear_model import Lasso, LinearRegression, Ridge, SGDRegressor

## Data

In [4]:
df = pd.read_csv('/Users/weiyiwang/code/TheWangAndOnly/AirBnB/Dataset/AB_US_2020.csv')

/Users/weiyiwang/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

The dataset provided has columns describing features such as host id, hostname, listing id, listing name, latitude and longitude of listing, the neighbourhood, price, room type, minimum number of nights, number of reviews, last review date, reviews per month, availability, host listings and city.

### EDA

In [16]:
#firstly need to check if the data looks clean
df.isna().value_counts().sum()

226030

In [17]:
df.info() # it looks like there are several elements missing in last_review, neighbourhood_group, reviews_per_month

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226030 entries, 0 to 226029
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226030 non-null  int64
 1   name                            226002 non-null  object
 2   host_id                         226030 non-null  int64
 3   host_name                       225997 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226030 non-null  object
 6   latitude                        226030 non-null  float64
 7   longitude                       226030 non-null  float64
 8   room_type                       226030 non-null  object
 9   price                           226030 non-null  int64
 10  minimum_nights                  226030 non-null  int64
 11  number_of_reviews               226030 non-null  int64
 12  last_review                     177428 non-null  object
 13  reviews_per_month               177428 non-null  float64
 14  calculated_host_listings_count  226030 non-null  int64
 15  availability_365                226030 non-null  int64
 16  city                            226030 non-null  object
dtypes: float64(3), int64(7), object(7)
memory usage: 29.3+ MB